.body{
  font-family: 'Times New Roman', Times, serif;
}


*{
  background-color:#F2FBF6;
  margin: 0px;
}
.box{
  height: 185px;
  width: 304px;
  border: 1px solid #B7BECC;
  border-radius: 10px;
  text-align: center;
  padding-top: 32px;
}

h1{
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  padding-top: 30px;
}

p{
  font-size: 18px;
  font-weight: 500;
  padding-top: 10px;
}


.btnn{
  width: 94px;
  height: 31px;
  border-radius: 8px;
  border: none;
  color: white;
 font-style: normal;
  font-size: 14px;

}

.btn1{
  background-color: #000000;
  width: 160px;
  height: 50px;
  color: white;
  border-radius: 8px;
  margin-right: 100px;

}

.nav{
  background-color: #F2FBF6;
}

.imgg{
  margin-left: 100px;
  width: 50%;
}

.error {
  color: red;
  text-align: center;
}

