

*{
  background-color:#F2FBF6;
  margin: 3px;
 
}
.box{
  height: 185px;
  width: 304px;
  border: 1px solid #B7BECC;
  border-radius: 10px;
  text-align: center;
  padding-top: 32px;
}

h1{
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  padding-top: 30px;
  font-family: 'Readex Pro', sans-serif;
}

p{
  font-size: 18px;
  font-weight: 500;
  padding-top: 10px;
  font-family: 'Readex Pro', sans-serif;
}


.btnn{
  width: 94px;
  height: 31px;
  border-radius: 8px;
  border: none;
  color: white;
 font-style: normal;
  font-size: 14px;

}

.btn1{
  background-color: #000000;
  width: 160px;
  height: 50px;
  color: white;
  border-radius: 8px;
  margin-right: 100px;

}

.nav{
  background-color: #F2FBF6;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.imgg{
  margin-left: 100px;
  width: 8%;
}

.error {
  color: red;
  text-align: center;
}

@media (max-width:600px) {
  h1{
    font-size: 20px;
  }
}




